<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>

        <rewrite>
            <rules>
                <rule name="Laravel Reverb" stopProcessing="true">
                    <match url="^app/(.*)" />
                    <conditions>
                        <add input="{HTTP_UPGRADE}" pattern="websocket" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:8085/{R:0}" />
                </rule>

                <rule name="Laravel" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

        <handlers>
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule"
                scriptProcessor="C:\php-8.3.15\php-cgi.exe" resourceType="Either" />
        </handlers>

        <staticContent>
            <remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>